<!---ACCOUNT MODAL--->
<div aria-hidden="true" aria-labelledby="accountSignupLabel" class="modal fade" id="modal-account" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="accountModalLabel">ACCOUNT DETAILS</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div style="display: flex; justify-content: space-between">
                    <p class="fw-bold">author</p>
                    <p class="fw-lighter"><%= name%></p>
                </div>
                <div style="display: flex; justify-content: space-between">
                    <p class="fw-bold">e-mail</p>
                    <p class="fw-lighter"><%= email%></p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>