<form action="/auth/signup" id="signup-form" method="POST">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="inputName">Name</label>
        <div class="col-sm-10">
            <input class="form-control" id="inputName" name="name" type="text">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="inputEmail3">Email</label>
        <div class="col-sm-10">
            <input class="form-control" id="inputEmail3" name="email" type="email">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="inputPassword3">Password</label>
        <div class="col-sm-10">
            <input class="form-control" id="inputPassword3" name="password" type="password">
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>



