<!doctype html>
<html lang="en">

<%- include('../partials/head.html') %>

<body>

<main>

    <div class="container-fluid" style="padding-top: 10px">

        <h1>Error</h1>
        <p><strong>Status: </strong><%= status%></p>

        <ul>
            <% errors.forEach(function(error) { %>
            <li>
                <strong>type: </strong>
                <%= error.type %>
            </li>
            <li>
                <strong>location: </strong>
                <%= error.location %>
            </li>
            <li>
                <strong>path: </strong>
                <%= error.path %>
            </li>
            <li>
                <strong>value: </strong>
                <%= error.value %>
            </li>
            <li>
                <strong>message: </strong>
                <%= error.msg %>
            </li>
            <% }) %>
        </ul>

    </div>


</main>

<%- include('../partials/footer.html') %>

</body>
</html>